@{
    Layout = null;
}

@foreach (var image in Model.Url)
{
    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
        <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
    </a>
}


<script src="@Url.Content("~/Areas/AdminPanel/Assets/js/jquery.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $(".returnImage").click("click", function (e) {
            var urlImage = $(this).attr("data-url");
            window.opener.updateValue(urlImage);
            window.close();
        });
    });
</script>

