<article class="post">

    <header class="post-header">
        <div class="post-title">

            <h1>About Me</h1>

        </div>

    </header>

    <section class="post-content">
        <p><img alt="" src="http://localhost:51900/Images/Uploads/Swimming.JPG" style="width:80%" /></p>

        <p>I love swimming so after a lot of tries i finally got this picture :D</p>

        <p>&nbsp;</p>

        <h2><strong>Who Am I?</strong></h2>

        <p>My name is Usman Fareed and i am a <strong>.Net Developer</strong> as well as <strong>Full Stack Developer</strong>. I started programming rather late in bachelors but before that i had some basic knowledge of programming. Programming is my passion so i love every second of specially when i stuck in some problem and things get challenging :D</p>

        <h2>&nbsp;</h2>

        <h2><strong>What do i do for fun?</strong></h2>

        <p>Aside from codding i am a gamer, swimmer, watch movies & tv series. In games i mostly play <strong>Dota 2</strong> and sometimes <strong>CS Go</strong> too and in summers i do <strong>Swimming</strong>.</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

    </section>
</article>
