@model List<Blog.Models.Post>
@section SeoRender{

    <title>Programmers Blog</title>
    <meta name="keyword" content="csharp, mvc, c#, Dotnet, .net">
    <meta name="description" content="Programmers Blog">
    <meta name="author" content="Usman Fareed">
}

@if (ViewBag.Search != null)
{
@section HeadTitle
{
    <div class="tag" style="text-align: center">

        <h2>
            <i class='fa fa-search' style="color: #FF7000"></i> @ViewBag.Search
        </h2>


    </div>


}}
@Html.Partial("_Posts")


@if (!(ViewBag.Search != null ?? false))
{
@section Scripts
{
    <script>
        var hasMoreRecords = true;

        $(document).ready(function() {
            FetchDataFromServer();
            $(window).scroll(function() {
                if ($(window).scrollTop() + 1 >= $(document).height() - $(window).height()) {
                    FetchDataFromServer();


                }

            });


        });

        var skipCount = 0;
        var takeCount = 5; // return new 5 records
        var currentrequest = false;
        function FetchDataFromServer() {
            if (!hasMoreRecords) {
                return;
            }
            if (currentrequest) {
                return;
            }
            currentrequest = true;
            $.ajax({
                url: '@Url.Action("GetPosts", "Home")',
                data: { skipCount: skipCount, takeCount: takeCount },
                method: 'POST',
                datatype: 'html',
                success: function(data) {
                    if (data === "") {
                        hasMoreRecords = false; // signal no more records to display

                    } else {
                        currentrequest = false;
                        var item = $(data).hide().fadeIn(1500);
                        $("#body").append(item);
                        if (skipCount !== 0) {
                            $('html,body').animate({
                                    scrollTop: $(window).scrollTop() + 500
                                },
                                1000);
                        }


                        skipCount += takeCount; // update for next iteration
                        Prism.highlightAll();

                    }
                },
                error: function() {
                    alert("error");
                }
            });
        }


    </script>
}}